scripts/public-testnet-validator-triad-inventory.v1.json text eol=lf
doc/testing/evidence/public-testnet-governed-bootstrap-validator-triad-registry-2026-09-15.json text eol=lf
doc/testing/evidence/public-testnet-governed-bootstrap-validator-triad-bootstrap-peers-2026-09-15.txt text eol=lf
